/* #Colours
================================================== */

// Stock Theme colours
$orange: #B96D40;
$black: #181818;

$offwhite: #EFEFEF;
$magnolia: #F1EEE0;

// Brand main colours
$white: #FBFBFB;
$offblack: #171717;
$black: #000;
$magenta: #FC004C;
$red: #D82726;
$lightgrey: #F5F5F5;
$grey: #868686;
$darkgrey: #292929;
$brandlabs_green:  #14F37C;
$brandlabs_orange:  #f7471e;
$secondary_green: #00CC3C;

/* #Dark Mode Colours
================================================== */
// todo: populate!


/* #Custom Post Type Colours
================================================== */
// todo: find out how to do this dev panel style. 
