// Main colours
$orange: #B96D40;
$orangehover: #DE6C28;
$black: rgb(0, 0, 0);
$offblack: rgb(17, 18, 14);
$offblackhover: #1D2B29;
$grey: rgb(112, 113, 110);
$white: rgb(255, 255, 255);
$whitealpha: rgba(255, 255, 255,0.9);